/* --------------------------------------------------------------------------- */

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.background-day {
  background-image: url('../fondos/dia.jpg');
}

.background-evening {
  background-image: url('../fondos/tarde.jpg');
}

.background-night {
  background-image: url('../fondos/noche.jpg');
}


/* --------------------------------------------------------------------------- */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Altura mínima igual al alto de la ventana */
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
  background-color: rgba(219, 219, 219, 0.7);
  box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
  width: 60%;
  padding: 20px;
  font-family: 'Lato', sans-serif;
  margin: 15px;
  font-size: 14pt;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 32pt;
  margin: 25px;
}

iframe{
  width: -moz-available;
}

#location{
  margin: 15px;
  font-size: 24pt;
  font-family: 'Raleway', sans-serif;
}

.weather-details{
  border: outset rgba(255, 255, 255, 0.15) 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
  width: 70%;
  margin: auto;
  background-color: rgba(240, 248, 255, 0.3);
}

/* --------------------------------------------------------------------------- */

.weather-icon {
  width: 150px;
  height: 150px;
  background-size: cover;
  margin: auto;
  display: none;
}

.weather-icon.soleado {
  background-image: url('/icons/soleado.png');
}

.weather-icon.nublado {
  background-image: url('/icons/nublado.png');
}

.weather-icon.nevado {
  background-image: url('/icons/nevado.png');
}

.weather-icon.lluvioso {
  background-image: url('/icons/lluvioso.png');
}

.weather-icon.ventoso {
  background-image: url('/icons/ventoso.png');
}

.weather-icon.tormenta {
  background-image: url('/icons/tormenta.png');
}

/* --------------------------------------------------------------------------- */

/* Estilos responsivos */

@media (max-width: 768px) {
  main {
    width: 90%;
    font-size: 12pt;
  }
  iframe{
    width: fit-content;
  }
  .weather-details{
    width: 100%;
  }
}

@media (max-width: 576px) {
  main {
    width: 100%;
    font-size: 10pt;
  }
  iframe{
    width: fit-content;
  }
}
